.header.block
  .title
    %h1
      = Crowd.model_name.human(count: :many)
  .actions
    =link_to "Nova Turma", new_admin_crowd_path, class: 'btn btn-primary'
  %br.clear
.body.block
  = simple_form_for Crowd.new, url: search_admin_crowds_path, as: :terms, html: { class: 'search form-inline' } do |f|
    %table.table.table-stripped.table-compensed
      %thead
        %tr
          %th
            = f.input :name, label: false, placeholder: Crowd.human_attribute_name(:name)
          %th
            = f.input :subject_id, label: false, collection: Subject.collection_for_selection, prompt: Subject.model_name.human(count: :one)
          %th
            = f.input :professor_id, label: false, collection: Professor.collection_for_selection, prompt: Professor.model_name.human(count: :one)
          %th
      %tbody
        = render :partial => 'table'
