.header.block
  %h1= @crowd.name
.block
  %h2= Professor.model_name.human
  %p= link_to @crowd.professor, admin_professor_path(@crowd.professor)
  %h2= Subject.model_name.human
  %p= link_to @crowd.subject, admin_subject_path(@crowd.subject)
  %h3
    = Crowd.human_attribute_name(:semester, count: @crowd.semester)
    \-
    = @crowd.year
.block
  %h2= Student.model_name.human count: :many
  %table.table.table-stripped.table-condensed#students-table
    %thead
      %tr
        %th
          = Student.human_attribute_name(:name, count: :one)
        %th
    %tbody
      %tr#base-tr
        %td
      - @crowd.enrollments.each do |e|
        %tr
          %td
            = link_to e.student.name, admin_student_path(e)
          %td
            = link_to content_tag(:i, '', class: 'icon-remove'), admin_crowd_enrollment_path(@crowd,e), method: :delete, confirm: "Tem certeza?"
  %input#student-add
