.well
  %h1= t('.header')
  %table.table.table-bordered.table-striped.table.condensed
    %thead
      %tr
        %th
          = Subject.human_attribute_name :name
        %th
          = Subject.human_attribute_name :code
        %th
          = Subject.human_attribute_name :description
    %tbody
      - @subjects.each do |s|
        %tr
          %td
            = s.name
          %td
            = s.code
          %td
            = s.description
