%h1.span10
  = @crowd.name
  \-
  = Crowd.human_attribute_name(:semester, count: @crowd.semester)
  \/
  = @crowd.year

  %span
    %p.small
      = link_to @crowd.subject, professor_subject_path(@crowd.subject)
%h3.span10
  %span.pull-left
    = Enunciation.model_name.human count: :many
  %span.pull-right
    =link_to "Novo Enunciado", new_professor_subject_crowd_enunciation_path(@crowd.subject,@crowd), class: 'btn btn-primary'

%table.table.table-stripped.table-compensed.span10
  %thead
    %tr
      %th
        = Enunciation.human_attribute_name :name
      %th
        = Enunciation.human_attribute_name :description
      %th
        = Enunciation.human_attribute_name :end_date
    %tbody
      - @crowd.enunciations.each do |e|
        %tr
          %td
            = link_to e.name, professor_subject_crowd_enunciation_path(@crowd.subject, @crowd, e.name)
          %td
            = e.description
          %td
            = l(e.end_date)
          %td
            = link_to content_tag(:i, '', class: 'icon-pencil'), edit_professor_subject_crowd_enunciation_path(@crowd.subject, @crowd, e)
            = link_to content_tag(:i, '', class: 'icon-remove'), professor_subject_crowd_enunciation_path(@crowd.subject, @crowd, e), method: :delete, confirm: "Tem Certeza?"

%h3.span10= Student.model_name.human count: :many
%table.table.table-stripped.table-condensed.span10#students-table
  %thead
    %tr
      %th
        = Student.human_attribute_name(:name, count: :one)
      %th
  %tbody
    %tr#base-tr
      %td
    - @crowd.enrollments.each do |e|
      %tr
        %td
          = link_to e.student.name, professor_student_path(e)
