.block.header
  .title
    %h1
      = Student.model_name.human(count: :many)
  .actions
    = link_to "Novo Estudante", new_admin_student_path, class: 'btn btn-primary'
  %br.clear
.block
  = simple_form_for Student.new, url: search_admin_students_path, as: :terms, html: { class: 'search form-inline' } do |f|
    %table.table.table-stripped.table-compensed
      %thead
        %tr
          %th
            = f.input :name, label: false, placeholder: Student.human_attribute_name(:name)
          %th
            = f.input :username, label: false, placeholder:  Student.human_attribute_name(:username)
          %th
            = f.input :email, label: false, placeholder:  Student.human_attribute_name(:email)
      %tbody
        = render :partial => 'tbody'
