%p
  %h1
    = @subject.name
    (
    = @subject.code
    )
  %h3= @subject.description

%h2= Crowd.model_name.human count: :many
= simple_form_for Crowd.new, url: search_professor_subject_crowds_path(@subject), as: :terms, html: { class: 'search form-inline' } do |f|
  %table.table.table-stripped.table-compensed
    %thead
      %tr
        %th
          = f.input :name, label: false, placeholder: Crowd.human_attribute_name(:name)
    %tbody
      =render 'professor/crowds/table'
