- @enunciations.each do |e|
  %tr
    %td
      = link_to e.name, professor_enunciation_path(e.name)
    %td
      = link_to e.crowd.name, professor_crowd_path(e.crowd.name)
    %td
      = e.description
    %td
      = l(e.end_date)
    %td
      = link_to content_tag(:i, '', class: 'icon-pencil'), edit_professor_subject_crowd_enunciation_path(e.crowd.subject, e.crowd, e)
      = link_to content_tag(:i, '', class: 'icon-remove'), professor__subject_crowd_enunciation_path(e.crowd.subject, e.crowd, e), method: :delete, confirm: "Tem Certeza?"
