.header.block
  .title
    %h1
      = Enunciation.model_name.human(count: :one)
  .actions
    = link_to "Novo Enunciado", new_professor_subject_crowd_enunciation_path(@enunciations.first.crowd.subject, @enunciations.first.crowd), class: 'btn btn-primary'
  %br.clear
.block.body
  %table.table.table-stripped.table-compensed
    %thead
      %tr
        %th
          = Enunciation.human_attribute_name :name
        %th
          = Crowd.model_name.human(count: :one)
        %th
          = Enunciation.human_attribute_name :description
        %th
          = Enunciation.human_attribute_name :end_date
      %tbody
        = render :partial => 'tbody'

