.header.block
  %h1= @enunciation.name
.block
  %h2= Enunciation.human_attribute_name :description
  %p= @enunciation.description
  %h2= Enunciation.human_attribute_name :end_date
  %p= l @enunciation.end_date
