%h1.span10
  = @enunciation.name
  \-
  = l @enunciation.end_date
  %span.pull-right
    %button.btn.btn-primary{:type => "button",:'data-toggle'=>"modal",:'data-target'=>"#cloneModal"} Clonar
%p.span10
  = @enunciation.description

%h2.span10
  = Group.model_name.human count: :many
  %span.pull-right=link_to "Novo Grupo", new_professor_subject_crowd_enunciation_group_path(@enunciation.crowd.subject, @enunciation.crowd, @enunciation), class: 'btn btn-primary'
%table.table.table-stripped.table-condensed.span10
  %thead
    %tr
      %th
        = Group.human_attribute_name(:name, count: :one)
      %th
      %th
      %th
  %tbody
    - @enunciation.groups.each do |g|
      %tr
        %td
          =link_to g.name, professor_subject_crowd_enunciation_group_path(@enunciation.crowd.subject, @enunciation.crowd, @enunciation, g)
        %td
        %td
        %td
          = link_to content_tag(:i, '', class: 'icon-pencil'), edit_professor_subject_crowd_enunciation_group_path(@enunciation.crowd.subject, @enunciation.crowd, g.enunciation, g)
          = link_to content_tag(:i, '', class: 'icon-remove'), professor_subject_crowd_enunciation_group_path(@enunciation.crowd.subject, @enunciation.crowd, g.enunciation, g), method: :delete, confirm: "Tem Certeza?"

%h2.span10
  Anexos

= form_tag professor_subject_crowd_enunciation_attachments_path(@enunciation.crowd.subject, @enunciation.crowd, @enunciation), method: 'POST', multipart: true, class: 'form-inline span10' do
  = file_field_tag 'file'
  = submit_tag 'Adicionar', class: "btn btn-primary"
%div.span10
  %ul
    - @enunciation.attachments.each do |a|
      %li
        %p
          %a{:href => a.file.url }= a.file_identifier


= render 'clone'
