%table.table.table-stripped.table-bordered.table-compensed
  %thead
    %tr
      %th
        = Crowd.human_attribute_name :name
      %th
        = Subject.model_name.human(count: :many)
      %th
        = Professor.model_name.human(count: :many)
  %tbody
    - @crowds.each do |c|
      %tr
        %td
          = c.name
        %td
          = c.subject
        %td
          = c.professor
