%table.table.table-stripped.table-bordered.table-compensed
  %thead
    %tr
      %th
        = t('.name')
      %th
        = t('.subject')
      %th
        = t('.professor')
  %tbody
    - @crowds.each do |c|
      %tr
        %td
          = c.name
        %td
          = c.subject
        %td
          = c.professor
