%h1= @crowd.name
%h2= Professor.model_name.human
%p= @crowd.professor
%h2= Subject.model_name.human
%p= @crowd.subject
%h3
  = Crowd.human_attribute_name(:semester, count: @crowd.semester)
  \-
  = @crowd.year

%h2= Student.model_name.human count: :many
%table.table.table-stripped.table-condensed.table-bordered#students-table
%input#student-add
