<td><%= name %></td>
<td><%= semester %></td>
<td><%= year %></td>
<td><%= professor_id %></td>
<td><%= subject_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
