<h1>Edit crowd</h1>

<form id="edit-crowd" name="crowd">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="semester"> semester:</label>
    <input type="text" name="semester" id="semester" value="<%= semester %>" >
  </div>

  <div class="field">
    <label for="year"> year:</label>
    <input type="text" name="year" id="year" value="<%= year %>" >
  </div>

  <div class="field">
    <label for="professor_id"> professor_id:</label>
    <input type="text" name="professor_id" id="professor_id" value="<%= professor_id %>" >
  </div>

  <div class="field">
    <label for="subject_id"> subject_id:</label>
    <input type="text" name="subject_id" id="subject_id" value="<%= subject_id %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Crowd" />
  </div>

</form>

<a href="#/index">Back</a>
