<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Semester:</b>
  <%= semester %>
</p>

<p>
  <b>Year:</b>
  <%= year %>
</p>

<p>
  <b>Professor:</b>
  <%= professor_id %>
</p>

<p>
  <b>Subject:</b>
  <%= subject_id %>
</p>

<div id='enrollments'></div>

<a href="#/index">Back</a>
