%table.table.table-stripped.table-condesed.table-bordered
  %thead
    %tr
      %th
        = Enunciation.human_attribute_name :name
      %th
        = Enunciation.human_attribute_name :description
      %th
        = Enunciation.human_attribute_name :end_date
  %tbody
    - @enunciations.each do |e|
      %tr
        %td
          = link_to e.name, enunciation_path(e)
        %td
          = e.description
        %td
          = e.end_date
