.block.header
  .title
    %h1
      = Professor.model_name.human(count: :many)
  .actions
    = link_to "Novo Professor", new_admin_professor_path, class: 'btn btn-primary'
  %br.clear
.block
  = simple_form_for Professor.new, url: search_admin_professors_path, as: :terms, html: { class: 'search form-inline' } do |f|
    %table.table.table-stripped.table-compensed
      %thead
        %tr
          %th
            = f.input :name, label:false, placeholder: Professor.human_attribute_name(:name)
          %th
            = f.input :username, label: false, placeholder: Professor.human_attribute_name(:username)
          %th
            = f.input :email, label:false, placeholder: Professor.human_attribute_name(:email)
      %tbody
        = render :partial => 'tbody'
