.block.header
  .title
    %h1
      = Professor.model_name.human(count: :many)
  .actions
    = link_to "Novo Professor", new_admin_professor_path, class: 'btn btn-primary'
  %br.clear
.block
  %table.table.table-stripped.table-compensed
    %thead
      %tr
        %th
          = Professor.human_attribute_name :name
        %th
          = Professor.human_attribute_name :username
        %th
          = Professor.human_attribute_name :email
    %tbody
      - @professors.each do |p|
        %tr
          %td
            = p.name
          %td
            = p.username
          %td
            = p.email
          %td
            =link_to content_tag(:i, '', class: 'icon-pencil'), edit_admin_professor_path(p)
            =link_to content_tag(:i, '', class: 'icon-remove'), admin_professor_path(p), method: :delete, confirm: 'Tem Certeza?'
