!!!
%html
  %head
    %title SGAP
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top.navbar-inverse
      %div.navbar-inner
        %div.container
          %a.brand{href: '#'}
            SGPA
          %ul.nav
            %li
              = link_to "Mensagens", conversations_path
          %ul.nav.pull-right
            %li
              %div.btn-group
                = link_to content_tag(:i, "", class: 'icon-user icon-white'), edit_user_path(current_user) , class: "btn btn-info"
                = link_to current_user.name, edit_user_path(current_user), class: "btn btn-info"
            %li
              %div.btn-group
                = link_to "Sair", logout_path, class: "btn btn-info"
    %div.wrapper
      = render partial: "shared/#{current_user.type.downcase}_sidebar"
      %div#content.clearfix
        %div#content-wrapper
          = yield
